@inject HttpClient Http
@using TrackTaro.Shared.Dtos;

<div class="container mt-4">
    <!-- Cover and Back -->
    <div class="row justify-content-center g-4 mb-5">
        @if (!string.IsNullOrWhiteSpace(Item.CoverImagePath))
        {
            <div class="col-md-5">
                <img src="@(new Uri(Http.BaseAddress!, Item.CoverImagePath))" class="img-fluid rounded shadow-lg" alt="cover image for @Item.Name"
                    style="width: 100%; height: auto; object-fit: cover;"
                    onerror="this.onerror=null;this.screen='images/cover_error.png'"/>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Item.BackImagePath))
        {
            <div class="col-md-5">
                <img src="@(new Uri(Http.BaseAddress!, Item.BackImagePath))" class="img-fluid rounded shadow-lg" alt="back image for @Item.Name"
                    style="width: 100%; height: auto; object-fit: cover;"
                    onerror="this.onerror=null;this.screen='images/cover_error.png'"/>
            </div>
        }
    </div>

    <!-- Details -->
    <hr/>
    <div class="col-md-8">
        <h1>@Item.Name</h1>
        <h3>
            @foreach (var artist in Item.Artists)
            {
                <a href="artist/@artist.Id" class="text-dark text-decoration-none">@artist.Name</a>
            }
        </h3>
        <h5 class="text-muted">@Item.Type.ToString()</h5>
        <h5 class="text-muted">@Item.Year</h5>
        <h5 class="text-muted">Added to the Collection - @Item.CreatedAt.ToString(@"yyyy MMM d")</h5>
        <p class="mt-3">@Item.Description</p>
        @if (!string.IsNullOrWhiteSpace(Item.Label) && !string.IsNullOrWhiteSpace(Item.Publisher))
        {
            <p class="mt-4">@Item.Publisher; @Item.Label</p>
        }
    </div>

    <!-- Discs -->
    @foreach(var disc in Item.Discs)
    {
        <hr/>
        <h5>Disc @disc.Number</h5>
        <div class="row mb-5 align-items-start">
            <div class="col-md-5">
                <img src="@(new Uri(Http.BaseAddress!, disc.DiscImagePath))" class="img-fluid" alt="disc image for disc @disc.Number"
                    onerror="this.onerror=null;this.screen='images/cover_error.png'"/>
            </div>
            <div class="col-md-7">
                <ul class="list-group list-group-flush">
                    @foreach (var track in disc.Tracks.OrderBy(t => t.TrackNumber))
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>@track.TrackNumber.ToString("D2"): @track.Name</span>
                            <span class="badge bg-secondary">@track.Duration.ToString(@"mm\:ss")</span>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }

    <!-- Booklet images -->
    @if (Item.BookletImages.Any())
    {
        <hr2 class="mb-4" />
        <h5>Image Gallery</h5>
        <div class="row row-cols-2 mb-4">
            @foreach (var bookletImage in Item.BookletImages) 
            {
                <div class="col">
                    <img src="@(new Uri(Http.BaseAddress!, bookletImage.ImagePath))" class="img-fluid rounded" alt="booklet image for @Item.Name"/>
                </div>
            }
        </div>
    }
</div>


@code {
    [Parameter, EditorRequired]
    public ItemDto Item { get; set; } = null!;
}